body{
	font-family: Helvetica, Arial, sans-serif;
<<<<<<< HEAD
	
=======
	z-index: 3;
>>>>>>> hope this works!
}

.sidebar{
	width: 29%;
	position: fixed;
	z-index: 3;
<<<<<<< HEAD
	right: 0;
	top: 10em;
	width: 8em;
	margin-top: -2.5em;
	background-color: white;
}

.main{
	position: fixed;
	z-index: 3;
	width: 20%;
	height: 100%;
	background-color: white;
	overflow:scroll;
=======
}

.main{
	width: 70%;
	position: fixed;
	z-index: 3;
>>>>>>> hope this works!
}

.row{
	width: 100%;
}

.main ul li{
	margin: 10px;
<<<<<<< HEAD
	z-index: 3;
<<<<<<< HEAD
=======
>>>>>>> hope this works!
=======
}

#tweet-header{
	font-size: 20px;
	
	width: 100%;
	position: fixed;
	top: 0;
	
	margin-bottom: 10px;
	display: block;
	background-color: white;
}

#tweetcontainer{
	
	margin-top: 30px;
>>>>>>> b9b7545f272e9d2eccc566d5c771f1e62ccce5ad
}