body{
	font-family: Helvetica, Arial, sans-serif;
	z-index: 3;
}

.sidebar{
	width: 29%;
	position: fixed;
	z-index: 3;
}

.main{
	width: 70%;
	position: fixed;
	z-index: 3;
}

.row{
	width: 100%;
}

.main ul li{
	margin: 10px;
}