body{
	font-family: Helvetica, Arial, sans-serif;
<<<<<<< HEAD
	
=======
	z-index: 3;
>>>>>>> hope this works!
}

.sidebar{
	width: 29%;
	position: fixed;
	z-index: 3;
<<<<<<< HEAD
	right: 0;
	top: 10em;
	width: 8em;
	margin-top: -2.5em;
	background-color: white;
}

.main{
	position: fixed;
	z-index: 3;
	width: 20%;
	height: 100%;
	background-color: white;
	overflow:scroll;
=======
}

.main{
	width: 70%;
	position: fixed;
	z-index: 3;
>>>>>>> hope this works!
}

.row{
	width: 100%;
}

.main ul li{
	margin: 10px;
<<<<<<< HEAD
	z-index: 3;
=======
>>>>>>> hope this works!
}